@import "fonts.scss";

$color: rgb(255, 125, 125);

body{
  background: $color;
}
.wrapper{
  padding: 20px 50px;
  max-width: 700px;
}
.title{
  color: rgb(255, 255, 255);
  font-family: 'Roboto Condensed', sans-serif;
}
p{
  font-family: 'Oi', cursive;
}
span{
  font-family: 'Oi', cursive;
  font-size: 20px;
  display: block;
}
img{
  max-width: 200px;
}
/* cat class*/
.cat{
  background: url("./assets/images/cat.jpg") ;
  background-size: cover;
  width: 400px;
  height: 300px;
}
/* list class*/
.list a{
  color: rgb(255, 255, 255);
  transform: scale(0.5);
}