@import "fonts.scss";

html{
  height: 100%;
}
body{
  background: #838c91;
  height: 100%;
  
}
.wrapper{
  padding: 20px 50px;
  min-height: 500px;
  display: flex;
}
.btn-add-column{
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 42px;
  background: rgba(0,0,0,.3);
  cursor: pointer;
  margin-right: 20px;
  transition: .3s;

  &:hover{
    opacity: 0.8;
  }
}
.column{
  width: 250px;
  margin-right: 20px;
  background: #ebecf0;
}
.column-header{
  padding: 20px 10px;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  justify-content: space-between;
}
.column-content{
  padding: 10px;
  overflow-y: auto;
  max-height: 500px;
}
.card{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cdcdcd;
}
.card-header{
  padding: 5px;
  background: rgb(114, 145, 230);
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card-content{
  padding: 5px;
  border: 1px solid #cdcdcd;
}
.btn-remove{
  position: absolute;
  right: 5px;top: 2px;
  width: 24px;
  height: 24px;
  opacity: 0.3;

  &:hover{
    opacity: 1;
  }
  &:before, &:after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

}


